body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #36d0db;
    color: white;
    padding: 5px;
    text-align: center;
    position: relative;
}

.my-links {
    position: absolute;
    top: 10px;
    right: 10px;
}

.my-links img {
    width: 10%; /* Adjust the size as needed */
    height: auto;
}

.header {
    background: url('hero-image.jpg') no-repeat center center;
    background-size: cover;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header h1 {
    margin: 0;
    font-size: 3em;
}

.header p {
    font-size: 1.5em;
}

main {
    padding: 20px;
}

section {
    margin: 20px 0;
}

.project {
    background: #00000004;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
}

form input, form textarea {
    padding: 10px;
    margin-top: 5px;
}

form button {
    margin-top: 10px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #f1f1f1;
}
