@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.calendar {
    margin: 20px auto;
    width: 100%;
}

body {
    font-family: "Helvetica Neue", Arial, sans-serif;
    padding: 0;
}
header h1{
    font-size: 70px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  color: #b393d3;
  text-transform: uppercase;
  text-shadow: 1px 1px 0px #957dad,
               1px 2px 0px #957dad,
               1px 3px 0px #957dad,
               1px 4px 0px #957dad,
               1px 5px 0px #957dad,
               1px 6px 0px #957dad,
               1px 10px 5px rgba(16, 16, 16, 0.5),
               1px 15px 10px rgba(16, 16, 16, 0.4),
               1px 20px 30px rgba(16, 16, 16, 0.3),
               1px 25px 50px rgba(16, 16, 16, 0.2);
}

.calendar {
    margin: 20px auto;
    width: 80%;
}

.scroll-container {
    width: 100%;
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent images from wrapping to the next line */
}

.scroll-content {
    display: inline-block; /* Make the container inline-block to ensure it doesn't take full width */
    padding: 10px; /* Add padding to the container */
}

    .scroll-content img {
        display: inline-block; /* Display images inline */
        max-width: 100%; /* Ensure images don't exceed container width */
        height: auto; /* Maintain aspect ratio */
        margin-right: 10px; /* Add margin between images */
    }

.scroll-container {
    position: relative;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
}

.scroll-content {
    display: inline-block;
    padding: 10px;
    z-index: 0;
    scroll-snap-align: start;
}

    .scroll-content img {
        position: relative;
        display: inline-block;
        max-width: 100%;
        height: auto;
        margin-right: 10px;
        scroll-snap-align: start;
    }

.scroll-button {
    position: absolute;
    top: 50%;
    background: rgba(255, 255, 255, 0.5);
    border: none;
    color: #333;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    transition: background 0.3s ease;
    z-index: 1;
}

    .scroll-button:hover {
        background: rgba(255, 255, 255, 0.7);
    }

    .scroll-button.prev {
        left: 0;
    }

    .scroll-button.next {
        right: 0;
    }

.container {
    position: absolute;
    width: 100%;
}
